version: 2.1

orbs:
  queue: eddiewebb/queue@1.1.2

jobs:
  update-indexes:
    docker:
       - image: circleci/ruby:2.4.1
    environment:
      INDEXES_BRANCH: indexes-forced-no-rebase
    steps:
      - queue/until_front_of_line
      - restore_cache:
          keys:
            - forced-no-rebase-spec-indexes-source-{{ .Branch }}-{{ .Revision }}
            - forced-no-rebase-spec-indexes-source-{{ .Branch }}-
            - forced-no-rebase-spec-indexes-source-
      - checkout
      - run:
          name: Generate indexes for the changes
          command: |
            ./Scripts/add_indexes.sh
      - run:
          name: Git config
          command: |
            git config --global user.email "$CIRCLE_USERNAME@users.noreply.github.com"
            git config --global user.name "$CIRCLE_USERNAME"
      - add_ssh_keys:
          fingerprints:
            - "39:12:25:06:c2:71:00:c6:7c:fe:40:a6:e7:0e:18:ed"
      - run:
          name: Commit and force push the generated indexes
          command: |
            git add -A
            git commit --quiet -m "Add CDN indexes for all pods"
            git push origin $CIRCLE_BRANCH:$INDEXES_BRANCH --force
      - run:
          name: Reset indexes commit for up to date caching
          command: git reset --hard HEAD~1
      - save_cache:
          key: forced-no-rebase-spec-indexes-source-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

workflows:
  update-indexes:
    jobs:
      - update-indexes:
          filters:
            branches:
              only: master-forced-no-rebase
